/* oklch(L - Lightness C - Chroma H - Hue) */
:root {
  /* ===== Base ===== */
  --color-base-white: rgb(255, 255, 255);
  --color-base-black: rgb(0, 0, 0);

  --color-base-grey-1: rgb(250, 250, 250);
  --color-base-grey-2: rgb(245, 245, 245);
  --color-base-grey-3: rgb(235, 235, 235);
  --color-base-grey-4: rgb(212, 212, 212);
  --color-base-grey-5: rgb(163, 163, 163);
  --color-base-grey-6: rgb(115, 115, 115);
  --color-base-grey-7: rgb(82, 82, 82);
  --color-base-grey-8: rgb(64, 64, 64);
  --color-base-grey-9: rgb(38, 38, 38);
  --color-base-grey-10: rgb(23, 23, 23);

  --color-base-blue-1: rgb(240, 249, 255); /* very light */
  --color-base-blue-2: rgb(225, 240, 250);
  --color-base-blue-3: rgb(206, 233, 255); /* card-primary */
  --color-base-blue-4: rgb(179, 210, 229); /* hover */
  --color-base-blue-5: rgb(140, 190, 220);
  --color-base-blue-6: rgb(0, 105, 168); /* primary */
  --color-base-blue-7: rgb(77, 139, 173); /* active */
  --color-base-blue-8: rgb(60, 120, 155);
  --color-base-blue-9: rgb(40, 100, 140);
  --color-base-blue-10: rgb(20, 100, 160); /* deep text */

  --color-base-red-1: rgb(255, 245, 245); /* very light */
  --color-base-red-2: rgb(255, 232, 232);
  --color-base-red-3: rgb(255, 210, 210); /* bg / card */
  --color-base-red-4: rgb(255, 174, 174); /* hover */
  --color-base-red-5: rgb(240, 128, 128);
  --color-base-red-6: rgb(217, 64, 64); /* primary / destructive */
  --color-base-red-7: rgb(176, 48, 48); /* active / text */
  --color-base-red-8: rgb(140, 38, 38);
  --color-base-red-9: rgb(110, 30, 30);
  --color-base-red-10: rgb(80, 22, 22); /* deep text */

  /* ===== Background colors ===== */
  --color-bg-white: var(--color-base-white);
  --color-bg-default: var(--color-base-white);
  --color-bg-secondary: var(--color-base-grey-2);
  --color-bg-muted: var(--color-base-grey-3);

  --color-control-bg: var(--color-base-grey-1);
  --color-control-bg-primary: var(--color-base-blue-3);
  --color-control-bg-primary-hover: var(--color-base-blue-4);

  --color-container-bg: var(--color-base-white);
  --color-container-bg-hover: var(--color-base-grey-4);
  --color-container-bg-focus: var(--color-base-grey-3);
  --color-container-bg-active: var(--color-base-grey-5);
  --color-container-bg-primary: var(--color-base-blue-2);
  --color-container-bg-primary-hover: var(--color-base-blue-4);
  --color-container-bg-primary-focus: var(--color-base-blue-3);
  --color-container-bg-primary-active: var(--color-base-blue-7);

  /* ===== Text colors ===== */
  --text-white: var(--color-base-white);
  --text: var(--color-base-grey-10);
  --text-secondary: var(--color-base-grey-9);
  --text-link: var(--color-base-blue-10);
  --text-link-hover: var(--color-base-grey-9);
  --text-soft: var(--color-base-blue-1);
  --text-muted: var(--color-base-grey-6);
  --text-primary: var(--color-base-blue-10);
  --text-primary-hover: var(--color-base-blue-4);
  --text-primary-active: var(--color-base-blue-7);
  --text-primary-active-hover: var(--color-base-blue-7);
  --text-error: var(--color-base-red-7);

  /* ===== Shadows colors ===== */
  --color-shadow-1: 0 1px 2px rgba(0, 0, 0, 0.03);
  --color-shadow-2:
    0 1px 2px rgba(0, 0, 0, 0.03), 0 1px 6px rgba(0, 0, 0, 0.02),
    0 2px 4px rgba(0, 0, 0, 0.02);
  --color-shadow-3:
    0 1px 2px rgba(0, 0, 0, 0.03), 0 2px 8px rgba(0, 0, 0, 0.05);
  --color-shadow-4:
    0 3px 6px rgba(0, 0, 0, 0.04), 0 6px 16px rgba(0, 0, 0, 0.08);
  --color-shadow-5:
    0 6px 16px rgba(0, 0, 0, 0.08), 0 12px 32px rgba(0, 0, 0, 0.12);

  /* ===== Layout bg colors ===== */
  --color-bg-body: var(--color-base-grey-2);
  --color-bg-header: var(--color-base-white);
  --color-bg-footer: var(--color-base-grey-3);
  --color-bg-sidebar: var(--color-base-grey-1);

  /* ===== Statuses ===== */
  --color-status-positive: rgb(0, 188, 125);
  --color-status-negative: rgb(255, 77, 79);
  --color-status-neutral: rgb(140, 140, 140);
  --color-status-success: rgb(73, 149, 55);
  --color-status-warning: rgb(207, 146, 0);
  --color-status-error: var(--text-error);
  --color-status-bg-error: var(--color-base-red-3);
  --color-status-bg-error-hover: var(--color-base-red-4);

  --popover: rgb(255, 255, 255);
  --popover-foreground: rgb(10, 10, 10);

  --chart-1: rgb(116, 212, 255);
  --chart-2: rgb(0, 166, 244);
  --chart-3: rgb(0, 132, 209);
  --chart-4: rgb(0, 105, 168);
  --chart-5: rgb(0, 89, 138);

  --radius: 0.625rem;
}
