:root {
  /* border, color, bg */
  --status-success-1: rgb(19, 80, 19);
  --status-success-2: rgb(9, 104, 27);
  --status-success-3: rgb(234, 248, 234);

  --status-warning-1: rgb(92, 64, 13);
  --status-warning-2: rgb(164, 110, 10);
  --status-warning-3: rgb(255, 248, 224);

  --status-error-1: rgb(76, 14, 16);
  --status-error-2: rgb(242, 31, 15);
  --status-error-3: rgb(254, 230, 228);

  --color-default: rgb(28, 43, 54);
  --color-primary: rgb(117, 159, 177);
  --color-secondary: rgb(102, 102, 102);
  --color-link: rgb(35, 183, 229);
  --color-disabled: rgb(148, 148, 149);

  --color-bg-default: rgb(244, 244, 244);
  --color-bg-primary: rgb(0, 24, 44);
  --color-bg-secondary: rgb(248, 248, 248);
  --color-bg-disabled: rgb(233, 230, 230);

  --color-border-default: rgb(210, 210, 210);

  --color-record: rgb(204, 30, 18);

  --white: rgb(255, 255, 255);
  --black: rgb(0, 0, 0);
}
